.mainBlock {
  color: #425f9c;
  border-radius: 5px;
  box-sizing: border-box;
  text-align: center;
  background-color: #fff;
  padding: 20px;
  width: 100%;
  max-width: 350px;
  margin: 100px auto;
  display: table;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h3 {
  color: rgb(204, 85, 0);
}
.button {
  color: #425f9c;
  margin-top: 3px;
}

.delete {
  color: #425f9c;
  border-color: white;
  background-color: white;
}
